<?xml version="1.0"?>
<robot name="helico_bench" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Trusted Meca500 robot model -->
  <xacro:include filename="$(find meca500_description)/urdf/meca500_macro.xacro" />

  <!-- Helico bench frames and visual environment -->
  <xacro:include filename="$(find meca500_scene_description)/urdf/frames/bench_frames.xacro" />
  <xacro:include filename="$(find meca500_scene_description)/urdf/visuals/breadboard_visual.xacro" />
  <xacro:include filename="$(find meca500_scene_description)/urdf/visuals/station_visuals.xacro" />

  <!-- Global root -->
  <link name="world" />

  <!-- Visual only. Collision version is loaded into MoveIt PlanningScene. -->
  <xacro:breadboard_visual parent="bench_breadboard" />

  <!-- 3.5 mm station -->
  <xacro:station_visual
    prefix="tip_station_3p5mm"
    parent="tip_station_3p5mm_frame"
    base_visual_x="-0.0125"
    coupling_x="-0.0065" />

  <!-- 4 mm station -->
  <xacro:station_visual
    prefix="tip_station_4mm"
    parent="tip_station_4mm_frame"
    base_visual_x="0.0125"
    coupling_x="0.0185" />

  <!-- 5 mm station -->
  <xacro:station_visual
    prefix="tip_station_5mm"
    parent="tip_station_5mm_frame"
    base_visual_x="-0.0125"
    coupling_x="-0.0065" />

  <xacro:meca500 parent="bench_breadboard">
    <origin xyz="-0.175 -0.0127 -0.025"
      rpy="1.5708 0 0" />
  </xacro:meca500>

  <!-- ========================================================= -->
  <!-- Link 6 measurement tool                                  -->
  <!--                                                          -->
  <!-- Physical instrument geometry derived from the Onshape    -->
  <!-- assembly. Only real fixed CAD components are represented. -->
  <!--                                                          -->
  <!-- CAD mapping:                                             -->
  <!--   l6         -> link_6                                   -->
  <!--   part_1_2   -> tools_mount                              -->
  <!--   part_1   -> laser_sensor_mount                         -->
  <!--   _8777405    -> laser_sensor                            -->
  <!--   Force_sensor -> force_sensor                           -->
  <!--   part_1_3   -> april_tag_mount                          -->
  <!--   part_1_1   -> force_poker                              -->
  <!--                                                          -->
  <!-- NOTE: link_6 <-> CAD l6 frame equivalence must be        -->
  <!-- physically verified before real robot operation.         -->
  <!-- ========================================================= -->


  <!-- Main tool mounting body -->
  <link name="tools_mount">
    <visual>
      <origin xyz="-0.00548008 0 -0.00548008"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/tools_mount.stl" />
      </geometry>
      <material name="tools_mount_colour">
        <color rgba="0.682353 0.333333 0.737255 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.00548008 0 -0.00548008"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/tools_mount.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="link_6_to_tools_mount" type="fixed">
    <parent link="link_6" />
    <child link="tools_mount" />
    <origin xyz="-0.00548008 0.00548008 0"
      rpy="-1.5708 0 1.5708" />
  </joint>


  <!-- Laser mounting/support component -->
  <link name="laser_sensor_mount">
    <visual>
      <origin xyz="-0.00273616 -0.00751754 -0.0575"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/laser_sensor_mount.stl" />
      </geometry>
      <material name="laser_sensor_mount_colour">
        <color rgba="0.729412 0.25098 0.105882 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.00273616 -0.00751754 -0.0575"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/laser_sensor_mount.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="tools_mount_to_laser_sensor_mount" type="fixed">
    <parent link="tools_mount" />
    <child link="laser_sensor_mount" />
    <origin xyz="0.00203746 -0.005 0.0247125"
      rpy="0 -1.5708 -1.5708" />
  </joint>


  <!-- Laser displacement sensor -->
  <link name="laser_sensor">
    <visual>
      <origin xyz="-0.01 -0.0028 0.0215"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/laser_sensor.stl" />
      </geometry>
      <material name="laser_sensor_colour">
        <color rgba="0.615686 0.811765 0.929412 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.01 -0.0028 0.0215"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/laser_sensor.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="laser_sensor_mount_to_laser_sensor" type="fixed">
    <parent link="laser_sensor_mount" />
    <child link="laser_sensor" />
    <origin xyz="0.0320138 -0.0100175 -0.0828716"
      rpy="-1.5708 0 1.5708" />
  </joint>


  <!-- Force sensor body -->
  <link name="force_sensor">
    <visual>
      <origin xyz="0.0277 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/force_sensor.stl" />
      </geometry>
      <material name="force_sensor_colour">
        <color rgba="0.901961 0.901961 0.901961 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.0277 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/force_sensor.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="tools_mount_to_force_sensor" type="fixed">
    <parent link="tools_mount" />
    <child link="force_sensor" />
    <origin xyz="-0.00548008 -0.019 -0.0424801"
      rpy="0 -1.5708 3.14159" />
  </joint>


  <!-- Force poker -->
  <link name="force_poker">
    <visual>
      <origin xyz="-0.004 0 -0.03375"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/force_poker.stl" />
      </geometry>
      <material name="force_poker_colour">
        <color rgba="0.282353 0.54902 0.160784 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="-0.004 0 -0.03375"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/force_poker.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="force_sensor_to_force_poker" type="fixed">
    <parent link="force_sensor" />
    <child link="force_poker" />
    <origin xyz="0.0168 0 0"
      rpy="-1.5708 0 -3.14159" />
  </joint>


  <!-- April Tag mount -->
  <link name="april_tag_mount">
    <visual>
      <origin xyz="0 0.01 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/april_tag_mount.stl" />
      </geometry>
      <material name="april_tag_mount_colour">
        <color rgba="0.980392 0.713726 0.00392157 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0.01 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meca500_scene_description/meshes/onshape/april_tag_mount.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="tools_mount_to_april_tag_mount" type="fixed">
    <parent link="tools_mount" />
    <child link="april_tag_mount" />
    <origin xyz="-0.0419365 -0.0025 -0.0154801"
      rpy="1.5708 0 -1.5708" />
  </joint>

  <!-- ========================================================= -->
  <!-- Mock ros2_control                                         -->
  <!-- Provides simulated joint states for RViz / MoveIt.        -->
  <!-- Replace with the physical Meca500 hardware interface      -->
  <!-- when transitioning to the real robot.                     -->
  <!-- ========================================================= -->

  <xacro:macro name="mock_joint" params="name">
    <joint name="${name}">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
  </xacro:macro>

  <ros2_control name="Meca500MockSystem" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
    </hardware>

    <xacro:mock_joint name="meca_axis_1" />
    <xacro:mock_joint name="meca_axis_2" />
    <xacro:mock_joint name="meca_axis_3" />
    <xacro:mock_joint name="meca_axis_4" />
    <xacro:mock_joint name="meca_axis_5" />
    <xacro:mock_joint name="meca_axis_6" />
  </ros2_control>

</robot>