<?xml version="1.0"?>
<robot name="helico_bench" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Trusted Meca500 robot model -->
  <xacro:include filename="$(find meca500_description)/urdf/meca500_macro.xacro"/>

  <!-- Global reference frame for Dio's bench CAD -->
  <link name="world"/>

  <link name="bench_frame"/>

  <joint name="world_to_bench" type="fixed">
    <parent link="world"/>
    <child link="bench_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Dio breadboard will be added here -->

  <!-- Trusted ROS Meca500 will be added here -->

  <!-- Mock ros2_control for simulation will stay here -->

</robot>